{{name}} ({{tag}})
🎖Уровень: {{expLevel}} ({{expPoints}} очков опыта)
👾Клуб: {{club.name}} ({{club.tag}})
🔮 {{mystery_points}}

🏆Трофеи: {{trophies}} (максимум {{highestTrophies}})
🏆Изменение трофеев (25 игр):  {{trophyChange25}}🏆

🏆Изменение трофеев (1 день): {{trophyChangeDay}}🏆
🏆Изменение трофеев (1 неделя): {{trophyChangeWeek}}🏆
🏆Изменение трофеев (1 месяц): {{trophyChangeMonth}}🏆

🥇Победы 3v3: {{3vs3Victories}}
🥇Победы соло: {{soloVictories}}
🥇Победы дуо: {{duoVictories}}