{{name}} ({{player_tag}})
🎖Уровень: {{level}} ({{experience}} очков опыта)
👾Клуб: {{club.name}} ({{club.tag}})

🏆Трофеи: {{trophies}} (максимум {{highestTrophies}})
🏆Изменение трофеев (25 игр):  {{trophyChange25}}🏆

🏆Изменение трофеев (1 день): {{trophyChangeDay}}🏆
🏆Изменение трофеев (1 неделя): {{trophyChangeWeek}}🏆
🏆Изменение трофеев (1 месяц): {{trophyChangeMonth}}🏆

🥇Победы 3v3: {{wins3v3}}
🥇Победы соло: {{soloWins}}
🥇Победы дуо: {{duoWins}}